#app_body{
    background-image: url('/appimg/body.jpg');
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;

}

/* when less than 768 */
@media screen and (max-width:768px){
    .header-div{
        width: 100%;
    }
    .header-text{
        color: #DDC091;
        font-size: 5vw;
        position: absolute;
        bottom: 2px;

    }
    #app_body{
        background-repeat: repeat-x;
    }
    .logo{
        width: 45%;
        position: absolute;
        top: 20px;
        left: 20%;
    }
    .card-div{
        width: 50px;
        margin: 12px;

    }

    /* suggestion page */
    .sg-header-text{
        font-size: 15px;
        color: white;
    }
    .order-form-div{
        width: 90%;
    }
    .comment-img{
        width: 50px;
    }

}

/* when greater than 768 */
@media screen and (min-width:768px){
    .header-div{
        width: 70%;
    }
    .header-text{
        color: #DDC091;
        font-size: 2.2vw;
        position: absolute;
        bottom: 2px;
        font-weight: bolder;
        text-align: center;

    }
    #app_body{
        background-repeat:no-repeat;
    }
    .logo{
        width: 30%;
        position: absolute;
        top: 40px;
        left: 30%;
    }

    .card-div{
        width: 52px;
        margin: 10px;
    }

    /* suggestion page */
    .sg-header-text{
        font-size: 16px;
        color: white;
    }
    .order-form-div{
        width: 45%;
    }

    .comment-img{
        width: 60px;
    }

}

.amulet-boy{
    width:100% ;

}

/* ..........................Main Content................................................... */
.main-content{
    background-color: rgb(0, 0, 0,0.6);
    border-radius: 5px;
    padding-bottom: 50px;
}
.abhigya-img{
    width: 100%;
}
.body-text{
    color: #89989D;
}
.card-div-bg{
    background-color: rgb(0, 0, 0,0.5);
}

.taro-card:hover{
    cursor: pointer;
    opacity: 0.6;
}
.name-input{
    outline: none;
    width: 200px;
    height: 40px;
    border-radius: 1px;
    padding: 5px;
    border: none;
    font-size: 13px;
}

#form-modal{
    background-color: rgb(0, 0, 0,0.8);
}

#name-input-div{
    display: block;
}
#gender-input-div{
    display: none;
}

/* Suggestion page */


.sg-chosen-card-div{

    text-align: center;
}
.sg-chosen-card{
    width: 60px;
    margin-bottom: 15px;
}







